:root {
  --branding-color: #6c9fa3;
  --secondary-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --background-color: repeating-linear-gradient(
    90deg,
    #a8e6cf 0px,
    #a8e6cf 50px,
    white 50px,
    white 100px
  );
  --border-color: #a8e6cf;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 45px;
}
p {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-brandin-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.container img {
  border-radius: 15px;
  border: 5px solid var(--border-color);
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
